Dataset
__pycache__
Miniconda3-latest-Linux-x86_64.sh
env
rubi.bootstrap.pytorch-master
SSL-VQA-master
hf_cache
extracted_feats
checkpoints
Downloads
checkpoints_lxmert/
checkpoints_new_train/
checkpoints_new_train_newer/
checkpoints_vilt/
extracted_feats_old/
extracted_feats_val/
extracted_feats_val_TEMP/
checkpoints_inc_layers/
checkpoints_old_at_start/
checkpoints_train_on_fine_tuned_deeper/
extracted_feats_test/
